@charset "UTF-8";
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* Tipografía */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}

*::before, *::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img, picture, video, iframe, figure {
  max-width: 100%;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Reseteamos las tablas */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--negro);
  /* (Opcional) */
  -ms-hyphens: auto;
      hyphens: auto;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}

/*media quieries*/
/*inicio info and service*/
/*media queries*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid_padre {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 70px 800px;
  grid-template-rows: 70px 800px;
  height: 800px;
  padding: 30px;
}

/*background inici*/
.background_grid_inicio {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/img/inicio_1.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/inicio_1.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

/*background service*/
.background_grid_service {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../assets/img/fondo_2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/fondo_2.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

/*background nosotros*/
.background_grid_nosotros {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../assets/img/fondo_nosotros.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/fondo_nosotros.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}

/*background section contacto*/
.section_1_contacto {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/img/equipo-de-trabajo_2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/equipo-de-trabajo_2.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
  height: 500px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
}

.logo {
  max-width: 10rem;
}

.navbar {
  margin-top: 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  gap: 1rem;
}

.nav-list li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-family: "Open Sans";
  font-size: 1rem;
}

.nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.231);
  padding: 5px;
  color: rgb(130, 198, 229);
}

/*inicio and service*/
.caja_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0 3rem 0;
}

.info {
  text-align: center;
  max-width: 700px;
  min-width: 0;
  max-height: 400px;
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 3rem 0 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.info h2 {
  color: #FFF;
  font-family: "Open Sans";
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 2rem;
}

.info a {
  background-color: rgb(230, 57, 70);
  padding: 10px;
  text-decoration: none;
  color: #FFF;
  margin-bottom: 50px;
}

.info a:hover {
  color: rgb(222, 215, 215);
}

.icono_inicio {
  width: 10rem;
}

.title {
  font-size: 2rem;
  font-family: "Abril Fatface", serif;
  color: #4F7A92;
}

.img {
  width: 25rem;
}

/*bootrap*/
.abrir-menu, .cerrar-menu {
  display: none;
  text-decoration: none;
  cursor: pointer;
  background: 0;
  border: 0;
}

/*inicio*/
/*mision*/
.grid_mision {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px;
  grid-template-columns: 500px;
  -ms-grid-rows: 200px auto;
  grid-template-rows: 200px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 3rem;
}
.grid_mision > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.grid_mision > *:nth-child(2) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.img_position {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.mision_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mision_info p {
  color: #7f8c8d;
  font-size: 1.2rem;
  line-height: normal;
  font-family: "lato";
  font-weight: 400;
  margin-top: 20px;
  text-align: center;
}

/*Que hacemos*/
.section_1 {
  background: #f2f4f7;
}

.contenedor {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 250px 20px 250px 20px 250px 20px 250px;
  grid-template-columns: 250px 250px 250px 250px;
  -ms-grid-rows: 350px;
  grid-template-rows: 350px;
  gap: 20px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.contenedor > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.contenedor > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.contenedor > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}

.title_que_hacemos {
  padding: 40px 0 40px 0;
  text-align: center;
}

.contenedor h3 {
  padding: 10px;
  font-size: 1rem;
  font-family: "Open Sans";
  color: #818485;
  width: 170px;
  text-align: center;
}

/*Nuestro enfoque*/
.section_2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 500px 20px 400px;
  grid-template-columns: 500px 400px;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px;
  padding: 60px 10px 60px 10px;
}

.enfoque {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title_enfoque {
  padding-bottom: 30px;
  text-align: center;
  min-width: 500px;
}

.enfoque p {
  font-size: 1rem;
  text-align: center;
  max-width: 600px;
  line-height: 1.5;
  font-family: "lato";
  margin-top: 20px;
  padding: 10px 0 10px 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 200px 300px 450px;
  grid-template-rows: 200px 300px 450px;
}

.grid img {
  -ms-grid-column-align: center;
      justify-self: center;
}

.mision_vision_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 1rem 400px;
  grid-template-columns: 400px 400px;
  -ms-grid-rows: 300px;
  grid-template-rows: 300px;
  gap: 1rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.mision_vision_grid > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.mision_vision_grid > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.title_mision_vision {
  text-align: center;
}

.item p {
  font-family: "lato";
  font-size: 1.2rem;
  max-width: 500px;
  text-align: center;
}

/*valores*/
.general_valores {
  margin-top: 2rem;
  padding: 0 20px 30px 20px;
  background: black;
}

.img_valores {
  position: relative;
  bottom: 20%;
}

.title_valores {
  text-align: center;
  padding-top: 2rem;
}

.nuestros_valores {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 20px 350px 20px 350px;
  grid-template-columns: 350px 350px 350px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 20px;
  padding-top: 2rem;
}

.nuestros_valores ul {
  list-style: none;
}

.nuestros_valores ul li {
  max-width: 500px;
  padding-top: 20px;
  font-family: "lato";
  font-size: 1rem;
  color: #7f8c8d;
}

.nuestros_valores ul li strong {
  color: rgb(230, 57, 70);
}

/*nuestro equipo*/
.title_equipo {
  text-align: center;
  margin-top: 2rem;
}

.general_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0 3rem 0;
  gap: 2rem;
}

.card-title {
  color: rgb(230, 57, 70);
  text-align: center;
}

.card-text {
  font-family: "lato";
  font-size: 1.2rem;
  text-align: center;
}

.title_coral {
  color: rgb(230, 57, 70);
  font-family: "Abril Fatface", serif;
  font-size: 2rem;
}

.icono_service {
  width: 5rem;
  margin-bottom: 1rem;
}

/*NUESTROS SERVICIOS*/
.title_service {
  margin: 10px;
  padding: 3rem 0 3rem 0;
  color: #4F7A92;
  font-size: 2rem;
  font-family: "Abril Fatface", serif;
  text-align: center;
}

.grid_service {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-grid-columns: 350px 20px 350px 20px 350px;
  grid-template-columns: 350px 350px 350px;
  -ms-grid-rows: 300px 20px 300px;
  grid-template-rows: 300px 300px;
  gap: 20px;
  padding: 40px;
}

.grid_service > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.grid_service > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.grid_service > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}

.grid_service > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}

.grid_service > *:nth-child(5) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}

.grid_service > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}

.service {
  text-align: center;
}

.service h3 {
  color: #000000;
  font-size: 1rem;
  font-family: "lato";
  text-align: center;
}

.service p {
  color: #7f8c8d;
  text-align: center;
  font-size: 1rem;
  padding: 15px;
  font-family: "open sans";
}

.header_contacto {
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem;
  height: 80px;
}

.background_title_contacto {
  position: absolute;
  top: 40%;
  padding: 3rem;
  -webkit-box-shadow: 2px 2px 2px white;
          box-shadow: 2px 2px 2px white;
  background: rgba(0, 0, 0, 0.5607843137);
  max-width: 500px;
}

.title_contacto {
  font-size: 2rem;
  font-family: "Abril Fatface", serif;
  color: #4F7A92;
  color: white !important;
}

.grid_section {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 2rem 400px;
  grid-template-columns: 600px 400px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.contact_form {
  max-width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
  -webkit-box-shadow: 3px 2px 3px 2px #a8a8a8;
          box-shadow: 3px 2px 3px 2px #a8a8a8;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid #4F7A92;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border: 2px solid #4F7A92;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

.button_form {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgb(230, 57, 70);
  border-color: #ab4493;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}

.button_form p {
  color: #fff;
}

span {
  color: #ab4493;
}

.aviso {
  font-size: 13px;
  color: #0e0e0e;
}

.formulario h2 {
  font-size: 16px;
  padding-bottom: 30px;
  color: #a8a8a8;
}

.button_form p {
  font-size: 14px;
  color: #ffffff;
  position: relative;
  top: 20%;
}

::-webkit-input-placeholder {
  color: #a8a8a8;
}

::-webkit-textarea-placeholder {
  color: #a8a8a8;
}

.formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.formulario textarea:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.ubicacion {
  padding-top: 5rem;
}

footer {
  background-color: black;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 60px 30px 60px;
}

footer p {
  color: white;
}

/*header and navbar*/
@media (max-width: 885px) {
  .header {
    padding: 0;
  }
}

@media (max-width: 885px) {
  .navbar {
    opacity: 0;
    visibility: hidden;
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    position: absolute;
    gap: 1rem;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    padding: 2rem;
    -webkit-box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 885px) {
  .navbar.visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
  }
}

@media (max-width: 885px) {
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    bottom: 40%;
  }
}

@media (max-width: 885px) {
  .abrir-menu, .cerrar-menu {
    display: block;
    border: 0;
    font-size: 1.5rem;
    text-decoration: none;
    color: #FFF;
  }
}

@media (max-width: 885px) {
  .grid_padre {
    background-attachment: scroll;
    height: 600px;
    background-position: center;
    padding: 2rem;
  }
}

@media (max-width: 400px) {
  .caja_1 {
    padding: 3rem 0 3rem 0;
  }
}

@media (max-width: 885px) {
  .info {
    margin: 0;
  }
}

@media (max-width: 885px) {
  .info h2 {
    font-size: 1rem;
    margin: 0;
    padding: 3rem 0 3rem 0;
  }
}

@media (max-width: 400px) {
  .grid_mision {
    -ms-grid-columns: 350px;
    grid-template-columns: 350px;
  }
}

@media (max-width: 400px) {
  .mision_info p {
    font-size: 1rem;
  }
}

@media (max-width: 400px) {
  .img_width {
    width: 20rem;
  }
}

@media (max-width: 885px) {
  .contenedor {
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
    -ms-grid-rows: 250px 250px 250px 250px;
    grid-template-rows: 250px 250px 250px 250px;
  }
  .contenedor > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contenedor > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .contenedor > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contenedor > *:nth-child(4) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
}

@media (max-width: 885px) {
  .section_2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
    -ms-grid-rows: 300px 10px 200px;
    grid-template-rows: 300px 200px;
    gap: 10px;
    padding: 10px;
  }
  .section_2 > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .section_2 > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
}

@media (max-width: 885px) {
  .enfoque p {
    max-width: 500px;
    font-size: 1rem;
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 885px) {
  .img {
    width: 20rem;
  }
}

/*nosotros*/
@media (max-width: 885px) {
  .grid {
    -ms-grid-rows: 250px 400px 1000px;
    grid-template-rows: 250px 400px 1000px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 885px) {
  .mision_vision_grid {
    -ms-grid-columns: 350px;
    grid-template-columns: 350px;
    -ms-grid-rows: 200px auto;
    grid-template-rows: 200px auto;
    padding: 0;
  }
  .mision_vision_grid > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .mision_vision_grid > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}

@media (max-width: 400px) {
  .mision_vision_grid img {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media (max-width: 885px) {
  .item p {
    font-size: 1rem;
  }
}

@media (max-width: 885px) {
  .nuestros_valores {
    -ms-grid-columns: 350px;
    grid-template-columns: 350px;
  }
}

@media (max-width: 885px) {
  .nuestros_valores ul li {
    text-align: center;
  }
}

@media (max-width: 885px) {
  .img_valores {
    position: relative;
    left: 20%;
    padding-top: 2rem;
  }
}

@media (max-width: 885px) {
  .general_cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  min-width: 400px;
}

.card img {
  width: 200px;
  position: relative;
  left: 25%;
}

/*Servicios*/
@media (max-width: 400px) {
  .grid_service {
    -ms-grid-columns: 300px;
    grid-template-columns: 300px;
    -ms-grid-rows: 300px 2rem 300px 2rem 300px 2rem 300px 2rem 300px 2rem 300px;
    grid-template-rows: 300px 300px 300px 300px 300px 300px;
    padding: 0;
    gap: 2rem;
  }
  .grid_service > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .grid_service > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
}