.header_contacto{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding_desktop;
    height: 80px;
}

.background_title_contacto{
    position: absolute;
    top: 40%;
    padding: $padding_desktop;
    box-shadow: 2px 2px 2px white;
    background: #0000008f;
    max-width: 600px;
}


.title_contacto{
    @include title;
    color: rgb(230, 57, 70) !important;
	text-transform: uppercase;
   
}

.grid_section{
    display: grid;
    grid-template-columns: 600px 400px;
    justify-content: center;
    gap: 2rem;
}

.contact_form{	
max-width: 460px; 
min-width: 0;
height: auto;
margin: 80px auto;
border-radius: 10px;  
border: 1px solid $boton_color;
padding: $padding_desktop 2rem $padding_desktop 2rem;  
background-color: #fbfbfb; 
box-shadow: 3px 4px 3px 4px #a8a8a8;
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
    border: 2px  solid   #4F7A92;
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
    border: 2px  solid   #4F7A92;
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


.button_form{
	position: relative;
	right: 3%;
	height: 45px; 
	padding: 0 5px 0 5px;	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: $boton_color; 
	border-radius: 10px;	
	width: 420px;   
	
}


.button_form p{
	color: #fff; 
}


span{
	color: #ab4493; 
}


.aviso{
	font-size: 13px;  
	color: #0e0e0e;  
}




.formulario h2{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #a8a8a8;   
}


.button_form p{
	font-size: 14px; 
	color: #ffffff; 
    position: relative;
    top: 20%;
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}

/*contactanos*/
.contactanos{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 5rem 0 3rem 0;
}

.contactanos h1{
	text-align: center;
}
.flex_contact{
	display: flex;
	align-items: center;
}

.flex_contact h2{
	color: #a8a8a8;
	font-size: $h2_font_size_desktop;
	font-family: $p_font;

}

/*ubicacion*/
.flex_contact img{
	max-width: 150px;
}

.ubicacion{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ubicacion iframe{
	@include respond-to(small){
		max-width: 300px
	}
}

.ubicacion p{
	@include parrafos;
	text-align: center;
	padding: 2rem;
	color: #a8a8a8;
	
}

