.title_coral{
    color: $title_color_coral;
    font-family: $title_font;
    font-size: $h1_font_size;
}

.icono_service{
    width: 5rem;
    margin-bottom: 1rem;
}

/*NUESTROS SERVICIOS*/
.title_service{
    margin: 10px;
    padding: $padding_desktop 0 $padding_desktop 0;
    color: $title_color;
    font-size: $h1_font_size;
    font-family:$title_font; 
    text-align: center;
}
.grid_service{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 300px 300px;
    gap: 20px;
    padding: 40px;
}

.service{
    text-align: center;
}

.service h3{
    color: #000000;
    font-size: $h3_font_size_desktop;
    font-family:$p_font; 
    text-align: center; 
}

.service p{
    color:  #7f8c8d;
    text-align: center;
    font-size:1rem;
    padding: 15px;
    font-family: 'open sans';
}

/*testimonios*/


.testimonios{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $padding_desktop;
}

.testimonios h3{
    text-align: center;
}

.testimonial-quote {
    font-size: 1.2em;
    font-style: italic;
    color: #000000;
    padding: 20px;
    border-left: 4px solid $boton_color;
    background: #ffffff;
    margin: 20px 0;
    max-width: 600px;
    box-shadow: 3px 3px 3px gray;
}

.testimonial-quote cite {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: $boton_color;
}


.section_cta{
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.cta{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    min-width: 300px;
    box-shadow: 3px 2px 3px 3px;
    padding: 2rem
}

.cta h3{
    @include title;
    color: $boton_color;
    text-transform: uppercase;
    text-align: center;
}

.cta p{
    @include parrafos;
    text-align: center;
    color: white;
}

.cta-button{
    background-color: rgb(230, 57, 70);
    padding: 10px;
    text-decoration: none;
    color: #FFF;
    margin-bottom: 50px;
    border-radius: 15px;
}

.cta-button a:hover{
    color: #000000 !important;
}



