.header_blog{
    background: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $padding_desktop;
    height: 80px;
}

.blog-info{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 3rem;
    background: black;
}

.title-blog{
    text-align: center
}

.text-blog p{
    @include parrafos;
    text-align: center;
}

.cards_blog{
    display: flex;
    gap: 2rem;
    padding: 3rem;
}