$type: mobile;
$title_color:  #4F7A92; 
$title_font: "Abril Fatface", serif;
$title_color_coral:  rgb(230 57 70);
$p_inicio_font: "Open Sans";
$p_font: 'lato';
$boton_color:  rgb(230 57 70);
$h1_font_size: 2rem;
$h2_font_size_desktop: 1.5rem;
$h2_font_size_mobile: 1rem;
$h3_font_size_desktop: 1rem;
$icono: 10rem;
$p_font_size: 1.2rem;
$p_font_size_mobile: 1rem;
$padding_desktop: 3rem;

/*media quieries*/
$breakpoint-small: 400px;
$breakpoint-medium: 885px;
$breakpoint-large: 1024px;